.BasicSpinner, .BlurryingSpinner {
    padding-top: calc(var(--customheader-height) + 20px);
    color: var(--front-color);
    width: 100vw !important;
}

.BasicSpinner {
    position: relative;
    margin: 0 auto;
}

.BlurryingSpinner {
    z-index: 10;
    position: fixed;
    top: 20%;
}