.QuestionContainer {
    position: relative;
    border-color: black;
    background-color: var(--front-color);
    border-radius: 10px;
    color: var(--back-color);
    font-size: small;
    padding: 20px;
    display: inline-block;
    margin-top: 10px;
    width: 80%;
}

.QuestionContainer .col {
    padding-left: 2px;
    padding-right: 0px;
}

@media (min-width : 450px) {
    .QuestionContainer {
        width: 400px;
        font-size: medium;
    }
    .CiferKeyboard {
        width: 150px;
    }
    .Enounce, .AnswerDisplay {
        font-size: medium;
    }
}

@media (min-width : 768px) {
    .QuestionContainer {
        font-size: large;
    }
    .Enounce, .AnswerDisplay {
        font-size: large;
    }
}

.AnswerDisplay {
    width: 30%;
    text-align: center;
}

.CiferKeyboard {
    margin-top: 50px;
    width: 200px;
}

.KeyboardButton {
    background-color: var(--back-color);
    color: var(--mirror-button-text-color);
    border-color: var(--grey-color);
}

.KeyboardButton:hover {
    background-color: var(--back-color);
}

.KeyboardButton:focus {
    background-color: var(--back-color);
}
