.AnswersResults {
    text-align: center;
    font-size: x-small;
}

.GoodAnswer {
    color: var(--green-color);
}

@media (min-width: 360px) {
    .AnswersResults, .GoodAnswer {
        font-size: small;
    }
}

@media (min-width: 768px) {
    .AnswersResults, .GoodAnswer {
        font-size: large;
    }
}

Col {
    border-width: 1px;
}

