.CustomHeader {
    border-bottom: 4px solid var(--front-color);
    height: 100px;
}

.CustomHeader .navbar-nav {
    padding: 20px;
}

.CustomHeader .navbar-brand {
    font-size: medium;
}

.CustomHeader .navbar-toggler {
    margin-right: 20px;
} 

