.CustomHeader {
    border-bottom: 4px solid var(--front-color);
    max-width: 100vw;
    z-index: 9999;
}

@media(min-width: 1000px) {
    .CustomHeader {
        height: 100px;
    }
}

.CustomHeader .navbar-brand {
    font-size: medium;
}

.CustomHeader .navbar-toggler {
    margin-right: 20px;
} 


@media (width > 1000px) {
  #nav-item-liens, #nav-item-contact {
    margin-top: -5px
  }
}

@media (width < 1000px) {
    .CustomNav .nav-item.dropdown  {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    #nav-item-liens, #nav-item-contact {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    #nav-item-contact {
      margin-bottom: 10px !important;
    }

}



