.CustomNav {
    background-color : var(--navbar-color);
    z-index: 2;
}

.CustomNav a {
  font-size: small;
}

@media(min-width: 450px) {
  .CustomNav .navbar-nav {
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
}

.CustomNav .navbar-brand a {
  color: var(--back-color); 
  padding-left: 20px;
}

.Darcula .CustomNav .navbar-brand a {
  color: var(--links-color); 
}

.CustomNav button .nav-toggler .collapsed {
  margin-right: 40px !important;
}

.CustomNav .navbar-collapse {
  background-color: var(--navbar-color);
  margin-top: 5px;
}

/* nav-item (items de la navbar) */
.CustomNav .nav-item a {
  color: var(--grey-light-color) !important;
}

.CustomNav .nav-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media (width < 450px) {
    .CustomNav .nav-item.dropdown  {
        font-size: small;
    }
    .CustomNav .nav-item a {
      font-size: small;
    }
}

@media (width < 1000px) {
    .CustomNav .nav-item.dropdown  {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
}

@media (min-width: 450px) {
    .CustomNav .nav-item.dropdown  {
      margin-right: 20px;
  }
}

/* .dropdown-menu (l'ensemble) */
.CustomNav .dropdown-menu {
    background-color : var(--navbar-color);
    border: 0px;
    max-height: 800px;
    max-width: 500px;
    width: fit-content;
    overflow-y: auto;
    overflow-x: hidden; 
    text-align: center;
}

/* .CustomNav .dropdown-menu.show {
  height: fit-content;
}
 */
#scrollable + .dropdown-menu.show {
  height: 400px;
}

@media (max-width: 450px) {
    .CustomNav .dropdown-menu {
      margin: 0 auto;
  }
}

/* dropdown-toggle (le titre du toggle) */
.CustomNav .dropdown-toggle {
    margin-bottom: 0px !important;
}

.CustomNav .dropdown-toggle.show {
    color: var(--grey-lighter-color) !important;
}

/* dropdown-item (les sous-titres du toogle) */
.CustomNav .dropdown-item {
    padding: 10px;
}

.CustomNav .nav-item a.dropdown-item {
  color: var(--back-color) !important;
}

.Darcula .CustomNav .nav-item a.dropdown-item {
  color: var(--links-color) !important;
  margin-top: 7px; margin-bottom: 7px;
}

.dropdown-item.active {
  background-color: var(--front-color) !important;
}

.Darcula .dropdown-item.active {
  background-color: var(--grey-color) !important;
}

@media (width < 450px) {
  .CustomNav .dropdown-item {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.CustomNav .dropdown-item a {
  font-size: x-small !important;
  color: var(--back-color) !important;
}

.Darcula .CustomNav .dropdown-item a {
  font-size: x-small !important;
  color: var(--links-color) !important;
}

@media (width < 450px) {
  .CustomNav .dropdown-item a {
      font-size: x-small !important;
  }
}

.CustomNav .dropdown-item:hover, .CustomNav .dropdown-item:hover {
  background-color : var(--navbar-hover-color);
}

.CustomNav .dropdown-item:focus, .CustomNav .dropdown-item:focus {
  background-color : var(--navbar-hover-color);
}


.Darcula .CustomNav .dropdown-item:hover, .Darcula .CustomNav .dropdown-item:hover {
  background-color : var(--grey-color);
}

.Darcula.CustomNav .dropdown-item:focus, .Darcula .CustomNav .dropdown-item:focus {
  background-color : var(--grey-color);
}

/* @media (min-width: 450px) {
  .CustomNav .dropdown-item {
    font-size: large !important;
    width: 100%;
  }
} */

