.CustomNav {
    background-color : var(--navbar-color);
}

.CustomNav a {
  font: inherit;
}

.CustomNav .navbar-nav {
  margin-left: 30px;
}

.CustomNav .navbar-brand {
  margin-right: 0;
  color: var(--links-color);
  padding-left: 15px;
}

.CustomNav button .nav-toggler .collapsed {
  margin-right: 40px !important;
}

.CustomNav .nav-link {
  font-size: x-small !important;
}

@media (min-width: 450px) {
  .CustomNav .nav-link {
    font-size: small !important;
  }
}

.CustomNav .navbar-collapse {
  background-color: var(--navbar-color);
  margin-top: 5px;
}

.CustomNav .dropdown-menu {
  background-color : var(--navbar-color);
  border: 0px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.CustomNav .dropdown-item {
  padding: 10px;
}

@media (width < 450px) {
  .CustomNav .dropdown-item {
    padding: 5px;
  }
}

.CustomNav .nav-item {
  padding-bottom: 10px !important;
  margin-bottom: 0px !important;
}

#basic-nav-item {
  margin-bottom: 10px !important;
}

.CustomNav .dropdown-item, .CustomNav .nav-item {
  text-align: center; 
}
 
@media (width < 450px) {
  .CustomNav .dropdown-item, .CustomNav .nav-item {
      margin-top: 0px;
  }
}

.CustomNav .dropdown-item a, .CustomNav .nav-item a {
  font-size: small !important;
}

@media (width < 450px) {
  .CustomNav .nav-item a {
      font-size: x-small !important;
  }
}

.CustomNav .dropdown-item a {
  color: var(--links-color) !important;
}

.CustomNav .nav-item a {
  color: var(--grey-light-color);
}

@media (width < 450px) {
  .CustomNav .dropdown-item a {
      font-size: xx-small !important;
  }
}

.CustomNav .dropdown-item:hover {
  background-color : var(--navbar-hover-color);
}

.CustomNav .dropdown-item:focus {
  background-color : var(--navbar-hover-color);
}

@media (min-width: 450px) {
  .CustomNav .dropdown-item {
    font-size: small !important;
    width: 100%;
    display: block;
  }
}

@media (min-width: 1268px) {
  .CustomNav .dropdown-menu {
    left:50%;
    transform: translateX(-40%);
  }
}

#theme-dropdown-item {
    color: var(--simple-text-color) !important;
} 