.Icon {
    width: 30px;
    height: 30px;
}

.CheckIcon {
    position: relative;
    color:  var(--check-color);
    width: 30px;
    height: 30px;
}

.CheckIcon {
    position: relative;
    color:  var(--check-color);
    width: 30px;
    height: 30px;
}