.QuestionContainer {
    position: relative;
    border-color: black;
    background-color: var(--front-color);
    border-radius: 10px;
    color: var(--back-color);
    font-size: small;
    padding: 20px;
    display: inline-block;
    margin-top: 10px;
    font-family: var(--celtic-font);
    width: 60%;
}

.QuestionContainer .col {
    padding-left: 2px;
    padding-right: 0px;

}
@media (min-width : 768px) {
    .QuestionContainer {
        width: 60%;
        font-size: x-large;
    }
    .Alert {
        font-size: large;
        position: absolute;
    }
    .CiferKeyboard {
        width: 100%;
    }
    .Enounce {
        font-size: medium;
    }
}

@media (min-width : 1268px) {
    .QuestionContainer {
        width: 30%;
        font-size: x-large;
    }
    .Alert {
        font-size: small;
        position: absolute;
    }
    .CiferKeyboard {
        width: 100%;
    }
}

.Timer {
    position: relative;
    margin-top: 35px;
    height: 60px;
}

.AnswerDisplay {
    width: 30%;
    text-align: center;
}

.CiferKeyboard {
    margin-top: 50px;
    width: 80%;
}

.Alert {
    color: red;
    font-size: large;
    position: absolute;
    margin-top: 10px;
}