.ResultsContainer{
    font-size: small;
    width : 100%;
    margin-top: 30px;
}

@media (min-width: 768px) {
    .ResultsContainer{
        font-size: large;
        width : 70%;
    }
}

@media (min-width: 1268px) {
    .ResultsContainer{
        font-size: large;
        width : 80%;
    }
}

