.AnswersResults {
    text-align: center;
    width : 50%;
}

.IconsResults {
    text-align: left;
    width : 20%; 
}

.GoodAnswerToDisplay {
    text-align: left;
    color: var(--green-color);
    width: 30%;
}

.Icon {
    text-align: center;
    width: 30px;
    height: 30px;
}

.CheckIcon {
    color:  var(--green-color);
}

.QuestionIcon {
    color:  var(--orange-color);
}

.WrongIcon {
    color:  var(--red-color);
}

Col {
    border-width: 1px;
}

