.QuestionContainer {
    position: relative;
    border-color: black;
    background-color: var(--front-color);
    border-radius: 10px;
    color: var(--back-color);
    font-size: 35px;
    padding: 20px;
    display: inline-block;
    margin-top: 20px;
}

@media (min-width : 768px) {
    .QuestionContainer {
        width: 30%;
    }
    .AnswersContainer {
        width: 30%;
    }
}

@media (min-width : 540px) {
    .QuestionContainer {
        width: 50%;
    }
    .AnswersInput {
        width: 80%;
    }
}

.QuestionContainer code {
    color: var(--question-code-color);
}

.Timer {
    position: relative;
    margin-top: 35px;
    height: 60px;
}

.AnswersContainer {
    display: flex;
    align-items: center;
}

.AnswersInput {
    width: 30%;
}
