.RelativeContainer {
    width: 80%;
    position: relative;
    /* refers to the Header */
    padding-top: 100px;
    /* refers to the Footer */
    padding-bottom: 40px; 
    min-height: 100vh; 
}

.LoadingSpinner {
    position: relative; /* or absolute */
    top: 150px;
    color: var(--front-color);
    background-color: var(--back-color);
}

.ButtonPlacement {
    padding-top: 10px;
    padding-bottom: 20px;
}

.DefaultButton {
	background-color: var(--blue-color);
    border-color: white;
    color: var(--back-color);
    margin: 20px;
    padding: 10px;
}

.DefaultButton:hover {
    background-color: var(--blue-hover-color);
 }

.GreenButton {
    background-color: var(--green-color);
}

.GreenButton:hover {
    background-color: var(--green-hover-color);
}

.OrangeButton {
    background-color: var(--orange-color);
}

.OrangeButton:hover {
    background-color: var(--orange-hover-color);
}

.RedButton {
    background-color: var(--red-color);
}

.RedButton:hover {
    background-color: var(--red-hover-color);
}

@media(min-width:768px) {
    .RelativeContainer {
        width: 60%;
    }
}

@media(min-width:1278px) {
    .RelativeContainer {
        width: 80%;
    }
}

.CenterText {
    margin: auto;
}