.RelativeContainer {
    position: relative;
    /* refers to the Header (100px) + 40px */
    padding-top: 80px;
    /* refers to the Footer (40px) + 20px */
    padding-bottom: 60px; 
    min-height: 100vh; 
    font-family: var(--celtic-font);
    font-size: x-small;
 }

 @media (min-width: 360px) {
    .RelativeContainer {
        font-size: small;
        padding-top: 120px;
    }
 }

 @media (min-width: 768px) {
    .RelativeContainer {
        font-size: large;
    }
 }

.LoadingSpinner {
    position: relative; /* or absolute */
    top: 150px;
    color: var(--front-color);
    background-color: var(--back-color);
}

.DefaultButton {
	background-color: var(--blue-color);
    border-color: white;
    color: var(--back-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    font-size: small;
}


@media (min-width: 360px) {
    .DefaultButton {
        margin-top: 20px;
        margin-bottom: 20px;
    }
 }

@media (min-width: 768px) {
    .DefaultButton {
        font-size: large;
        margin-top: 40px;
        margin-bottom: 20px;
        padding: 20px;
    }
 }

.DefaultButton:hover {
    background-color: var(--blue-hover-color);
 }

.GreenButton {
    background-color: var(--green-color);
}

.GreenButton:hover {
    background-color: var(--green-hover-color);
}

.OrangeButton {
    background-color: var(--orange-color);
}

.OrangeButton:hover {
    background-color: var(--orange-hover-color);
}

.RedButton {
    background-color: var(--red-color);
}

.RedButton:hover {
    background-color: var(--red-hover-color);
}

.CenterText {
    margin: auto;
}