  .CustomFooter {
    background-color : var(--navbar-color);
    border-top: 2px solid var(--front-color);
    color: cornsilk;
    height: 40px;
  }

  .CopyRight {
    width: 100%;
    color: grey;
  }

  
