  .CustomFooter {
    background-color : var(--navbar-color);
    border-top: 2px solid var(--front-color);
    color: cornsilk;
    height: 40px;
  }

  .CopyRight {
    width: 100%;
    color: grey;
  }

  .Contact {
    position : absolute;
    right: 0;
    margin-right: 30px;
    color: var(--back-color);
    width: 30px;
    height: 30px;
    bottom: 5px;
  }
