  .CustomNav {
    background-color : var(--navbar-color);
    border-bottom: 2px solid var(--front-color);
    height : 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .CustomNav .navbar-brand {
    margin-right: 0;
    color: var(--links-color);
    padding-left: 15px;
  }

  .CustomNav .nav-link {
    color: var(--links-color);
  }

  .CustomNav .navbar-collapse {
    background-color: var(--navbar-color);
    margin-left: 50px;
  }
  
  .CustomNav .dropdown-menu {
    background-color : var(--navbar-color);
  }

  .CustomNav .dropdown-item {
    color: var(--links-color);
  }


  #dropdown-item-button, #dropdown-item-button:hover, #dropdown-item-button:focus {
    background-color: var(--back-color);
    color: var(--front-color);
  }

  #dropdown-item-button, #dropdown-item-button:focus {
    border-color: var(--back-color);
  }

  #dropdown-item-button:hover {
    border-color: var(--front-color);
  }

  .dropdown-menu {
    padding: 0;
  }

  .PullRight {
    margin-left: auto;
    margin-right: 20px;   
    width: 35px;
    height: 35px;
  }

  .Offset {
    margin-right: 50px;
  }

  @media(max-width:768px) {
    .Offset {
        margin-right: 30px;
    }
  }