  .CustomNav {
    background-color : var(--navbar-color);
    border-bottom: 2px solid var(--front-color);
    height : 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--celtic-font);
  }

  .CustomNav .navbar-nav {
    padding: 15px;
  }

  .CustomNav .navbar-brand {
    margin-right: 0;
    color: var(--back-color);
    padding-left: 15px;
  }

  .CustomNav .nav-link {
    padding-left: 40px !important;
  }

  .CustomNav .navbar-collapse {
    background-color: var(--navbar-color);
  }
  
  .CustomNav .dropdown-menu {
    background-color : var(--navbar-color);
  }

  .CustomNav .dropdown-item {
    color: var(--back-color) ;
    padding: 10px;
  }
