/* .UsualFunctionsButton, .Scale {
    position: relative;
}
 */
@media (min-width: 360px) {
    .UsualFunctionsButton, .Scale {
        position: fixed;
        right: 5%;
    }
    .UsualFunctionsButton {
        width: 10%;
    }
    .Scale {
        width: 20%;
    }

    .InColumnButton {
        margin-top: 10px;
        padding: 10px;
    }
}

.InColumnButton {
    margin-top: 0px;
    padding: 0px;
}