.InColumnButton {
    margin-top: 0px;
    padding: 0px;
}

.FunctionAttributes {
    padding: 20px;
    width: 100% !important;
    height: 100% !important;
}

@media (min-width: 1268px) {
    .UsualFunctionsButton {
        position: fixed;
        right: 0%;
        width: 20%;
    }

    .InColumnButton {
        margin-top: 10px;
    }
}

.FunctionAttributesTitle {
    text-decoration: underline;
    color: black;
    padding-top: 10px;
}

.Graph {
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.GraphTitle {
    padding: 10px;
}

@media (min-width: 300px) {
    .Graph {
        font-size: large;
    }
}
 
@media (min-width: 768px) {
    .Graph {
        padding-bottom: 20px;
        font-size: large;
    }
}

@media (min-width: 1268px) {
    .Graph {
        font-size: x-large;
    }
    .recharts-wrapper {
        height: 80% !important;
        width : 80% !important;
        position: absolute;
        margin: 0 auto;
    } 
    .recharts-surface {
        height: 80% !important;
        width : 80% !important;
    }
}