@media (min-width: 360px) {
    .UsualFunctionsButton {
        position: fixed;
        right: 5%;
        width: 20%;
    }

    .InColumnButton {
        margin-top: 10px;
        padding: 10px;
    }
}

.InColumnButton {
    margin-top: 0px;
    padding: 0px;
}

.GraphTitle {
    padding: 20px;
    width: 100% !important;
    height: 100% !important;
}

.FunctionAttributes {
    padding: 20px;
    width: 100% !important;
    height: 100% !important;
}

.FunctionAttributesTitle {
    text-decoration: underline;
    color: black;
    padding-top: 10px;
}