.UsualFunctionsButton {
    margin-top: 0px;
    padding: 0px;
}

.FunctionAttributes {
    padding: 20px;
}

@media (min-width: 1268px) {
    .UsualFunctionsButtonsContainer {
        position: fixed;
        right: 0%;
        width: 20%;
    }

    .UsualFunctionsButton {
        margin-top: 10px;
    }
}

.FunctionAttributesTitle {
    text-decoration: underline;
    color: black;
    padding-top: 10px;
}

.Graph {
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.GraphTitle {
    padding: 10px;
}

.recharts-surface {
    position: absolute;
    left: 50%; /* Position X halfway in */
    transform: translate(-50%,0%); /* Move it halfway back(x,y) */
} 

@media (min-width: 300px) {
    .Graph {
        font-size: large;
    }
}
 
@media (min-width: 768px) {
    .Graph {
        padding-bottom: 20px;
        font-size: large;
    }
}

@media (min-width: 1268px) {
    .Graph {
        font-size: x-large;
    }
    .recharts-wrapper {
        height: 80% !important;
        width : 80% !important;
    } 
    .recharts-surface {
        height: 80% !important;
        width : 80% !important;
        position: relative;
        transform: translate(-30%,0%); /* Move it halfway back(x,y) */
    }
}