.ProgrammationBasicsContainer {
    width: 60%;
}

.ProgrammationBasicsContainer a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ProgrammationBasicsContainer p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    white-space: pre-line;
}

.CodeContainer {
    background-color: var(--grey-light-color);
    border-radius: 10px;
    font-size: small;
    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}

.Code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    white-space: pre-wrap;
    text-align: left;
}

@media (min-width: 1268px) {
    .ChaptersMenuContainer {
        position: fixed;
        left: 0%;
        width: 20%;
    }

    .InColumnButton {
        margin-top: 10px;
    }
}