.App {
    --black-chancery-font: 'black-chancery', Fallback, sans-serif;
    --chinese-font: 'chinese', Fallback, sans-serif;
    --dragons-font: 'dragons', Fallback, sans-serif;
    --scholar-font: 'scholar', Fallback, sans-serif;
}

.BlackChancery {
    font-family: var(--black-chancery-font) !important;
}

.Chinese {
    font-family: var(--chinese-font) !important;
}

.Dragons {
    font-family: var(--dragons-font) !important;
}

@font-face {
    font-family: 'black-chancery';
    font-style: normal;
    font-weight: normal;
    size-adjust: 180%;
    src: local('Black Chancery'), url('./fonts/black-chancery.ttf') format('truetype');
}

@font-face {
    font-family: 'chinese';
    font-style: normal;
    font-weight: normal;
    size-adjust: 250%;
    src: local('Chinese'), url('./fonts/chinese.ttf') format('truetype');
}

@font-face {
    font-family: 'dragons';
    font-style: normal;
    font-weight: normal;
    src: local('Dragons'), url('./fonts/dragons.ttf') format('truetype');
}

@font-face {
    font-family: 'scholar';
    font-style: normal;
    font-weight: normal;
    size-adjust: 160%;
    src: local('Scholar'), url('./fonts/scholar.otf') format('opentype');
}