/* .Links a {
    color: rgb(84, 84, 179) ! important;
}
 */
.Links .CenterTitle {
    padding-bottom: 10px;
}

.Links p {
    padding-top: 10px;
}

.Links a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
}

@media(width < 450px) {
    .Links a {
        font-size: 17px;
    } 
}

.Links .TableOfContents {
    align-items: center;
}

.LinksDesc {
    font-style: italic;
}

.LinksDesc p {
    text-align: center !important;
}

.Links h3 {
    text-decoration: underline;
}