.DefaultAlert {
    font-size: medium;
    color: var(--red-color);
    font-family: fantasy;
}

.GreenAlert, .RedAlert {
    color: var(--green-color);
}

.OperationsTestQuestionDisplayAlert {
    height: 30px;
    color: var(--back-color);
    margin-top: 10px;
    left: 0; 
    right: 0; 
}

.ContactAlert {  
    position: absolute;
    margin-top: 7px;
}

@media (min-width : 768px) {
    .ContactAlert {
        position: absolute;
        margin-top: 0px;
        display: inline-block;
        margin-left: 20px;
    }
}

@media (min-width : 768px) {
    .DefaultAlert {
        font-size: medium;
    }
}

@media (min-width : 1268px) {
    .DefaultAlert {
        font-size: large;
    }
}