.ExpressionsContainer {
    margin: auto;
    position: relative;
    /* top: 20%;
    bottom: 20%; */
} 

.HomeContainer {
    margin-top: 80px;
}

.HomeTitleContainer {
    position: relative;
    top: 30px;
    /* background-color: var(--front-color); */
    background-image: linear-gradient(to bottom right, var(--front-color), grey);    
    border-radius: 10px;
    color: var(--links-color);
    font-size: large;
    padding: 30px;
    width: 75%;
    box-shadow: 20px 20px 5px 5px var(--navbar-color);
    margin-bottom: 30px;
}

@media (width < 450px) {
    .HomeTitleContainer {
        width: 90%;
    }
/*     .ExpressionsContainer .MathJaxDisplayContainer {
        padding: 25px;
    } */
}

/* @media (min-width : 768px) {
    .ExpressionsContainer .MathJaxDisplayContainer {
        padding: 35px;
    }

    .ExpressionsContainer mjx-math {
        font-size: large !important;
    }
}
 */

 .Home .TableOfContents {
    padding-top: 50px;
 }

 .Home .TableOfContentsLink p {
    font-size: medium !important;
 }

 @media(min-width: 450px) {
    .Home .TableOfContentsLink p {
        font-size: large !important;
    }
 }