.ExpressionsContainer {
    margin: auto;
    position: absolute;
    top: 20%;
    bottom: 20%;
} 

.HomeTitleContainer {
    position: absolute;
    top: 50%;
    /* Position Y halfway in */
    left: 50%;
    /* Position X halfway in */
    transform: translate(-50%, -50%);
    /* Move it halfway back(x,y) */
    background-color: var(--front-color);
    border-radius: 10px;
    color: var(--links-color);
    font-size: small;
    padding: 30px;
    margin-top: 20px;
    width: calc(var(--window-width) * 3 / 4);
    z-index: 1;
}

@media (min-width : 450px) {
    .HomeTitleContainer {
        width: calc(var(--window-width) * 1 / 2);
    }
}

@media (min-width : 768px) {
    .ExpressionsContainer .MathJaxDisplayContainer {
        padding: 10px;
    }

    .ExpressionsContainer mjx-math {
        font-size: large !important;
    }
}

.ExpressionsContainer .MathJaxDisplayContainer {
    padding: 0px;
}