.ExpressionsContainer {
    margin: auto;
    position: relative;
    /* top: 20%;
    bottom: 20%; */
} 

.HomeContainer {
    margin-top: 80px;
}

.HomeTitleContainer {
    position: relative;
    top: 30px;
    /* background-color: var(--front-color); */
    background-image: linear-gradient(to bottom right, var(--front-color), grey);    
    border-radius: 10px;
    color: var(--links-color);
    font-size: large;
    padding: 30px;
    width: calc(var(--window-width) * 3 / 4);
    box-shadow: 20px 20px 5px 5px var(--navbar-color);
    margin-bottom: 100px;
}

@media (min-width : 450px) {
    .HomeTitleContainer {
        width: calc(var(--window-width) * 1 / 2);
        top: 50px;
    }
/*     .ExpressionsContainer .MathJaxDisplayContainer {
        padding: 25px;
    } */
}

/* @media (min-width : 768px) {
    .ExpressionsContainer .MathJaxDisplayContainer {
        padding: 35px;
    }

    .ExpressionsContainer mjx-math {
        font-size: large !important;
    }
}
 */