.ContactForm {
    text-align: center;
    font-size: small;
    width: 100%;
}

.InfosContainer {
    width: 80%;
}

.ContactType, .FirstName, .LastName, .Email, .Subject, .Message  {
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}

.Subject, .Message {
    width: 60%;
}

.ContactButton {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

@media (min-width: 768px) {
    .ContactForm {
        font-size: medium;
        margin-top: -30px;
    }

    .ContactType, .FirstName, .LastName, .Email, .Subject, .Message  {
        padding-top: 30px;
    }

    .InfosContainer {
        width: 60%;
    }

    .Subject, .Message  {
        width: 40%;
    }
}

@media (min-width: 1268px) {
    .ContactForm {
        font-size: large;
    }

    .ContactType, .FirstName, .LastName, .Email {
        width: 80%;
    }

    .form-control {
        font-size: medium;
    }
}

.SendResult {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-control {
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--grey-light-color);
}

.form-control:active {
    background-color: var(--grey-light-color);
}

.form-control:focus {
    background-color: var(--grey-light-color);
}

.form-control:hover {
    background-color: var(--grey-light-color);
}

.ContactForm a {
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.ContactForm .input-group {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.ContactForm canvas {
    width: 40% !important;
    padding: 0px !important;
    padding-top: 20px !important;
}

@media (min-width: 768px) {
    .ContactForm canvas {
        width: 20% !important;
    }
    .ContactForm .input-group {
        width: 20%;
    }
}

@media (min-width: 1268px) {
    .ContactForm canvas {
        width: 15% !important;
    }
}
