.RelativeContainer {
    position: relative;
    padding-top: calc(var(--customheader-height) + 20px);
    padding-bottom: calc(var(--customfooter-height) + 20px);
    min-height: 100vh;
    font-size: x-small;
}

.Title, .Title1 {
    position: relative;
    text-decoration: underline;
}

.Title {
   padding-top: 20px;
   font-size: small; 
   padding-bottom: 20px;
}

.Title1 {
   text-align: left;
   padding-bottom: 5px;
}

@media (min-width: 768px) {
    .RelativeContainer {
        font-size: small;
    }
    .Title {
        font-size: medium;
    }
}

@media (min-width: 1268px) {
    .RelativeContainer {
        font-size: medium;
    }

    .Title {
        font-size: large;
    }
}

.LoadingSpinner {
    position: relative;
    /* or absolute */
    color: var(--front-color);
}

.DefaultButton {
    background-color: var(--blue-color);
    border-color: white;
    color: var(--back-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: x-small;
}


@media (min-width: 360px) {
    .DefaultButton {
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

@media (min-width: 768px) {
    .DefaultButton {
        font-size: small;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1268px) {
    .DefaultButton {
        font-size: medium;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.DefaultButton:hover {
    background-color: var(--blue-hover-color);
}

.MiniButton {
    padding: 5px;
    font-size: x-small;
    margin: 20px;
}

.GreenButton {
    background-color: var(--green-color);
}

.GreenButton:hover {
    background-color: var(--green-hover-color);
}

.OrangeButton {
    background-color: var(--orange-color);
}

.OrangeButton:hover {
    background-color: var(--orange-hover-color);
}

.RedButton {
    background-color: var(--red-color);
}

.RedButton:hover {
    background-color: var(--red-hover-color);
}

.CenterText {
    margin: auto;
}

.Hidden {
    display: none;
}

.Underline {
    text-decoration: underline;
}

.Clickable {
    cursor: pointer;
}