.RelativeContainer {
    position: relative;
    padding-top: calc(var(--customheader-height) + 10px);
    padding-bottom: calc(var(--customfooter-height) + 20px); 
    min-height: 100vh;
    color: var(--simple-text-color);
}

@media (min-width: 450px) {
    .RelativeContainer {
        padding-top: calc(var(--customheader-height) + 20px);
    }
}

.RelativeContainer.PlayMode {
    padding-top: 20px;
    padding-bottom: 20px;
}

a, p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

p {
    text-align: justify;
    white-space: pre-line;
}

a { color: inherit; } 

a:hover {
    color: inherit;
}

.MainTitle {
    font: inherit;
    text-decoration: underline;
}

.Title, .Title1 {
    position: relative;
    text-decoration: underline;
}

.MainTitle, .Title {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
    font-size: large !important;
    text-align: center;
}

.Title1, .Title2 {
    font-size: medium !important;
    text-align: left;
}

.Title1 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

.Title2 {
    padding-top: 10px;
    text-decoration: underline;
    font-style: italic;
}

@media (min-width: 450px) {
    .MainTitle {
        font-size: large !important;
    }
    .Title {
        font-size: x-large !important;
    }
    a, p, .Title1, .Title2 {
        font-size: large !important;
    }
}

/* Buttons */

.DefaultButton {
    background-color: var(--blue-color);
    border-color: white;
    color: var(--back-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif !important;
}

@media (min-width: 450px) {
    .DefaultButton {
        padding: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: large;
    }
}

@media (min-width: 1268px) {
    .DefaultButton {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.DefaultButton:hover {
    background-color: var(--blue-hover-color);
    border-color: var(--grey-color);
}

.DefaultButton:focus {
    background-color: var(--blue-hover-color);
    border-color: var(--grey-color);
    border-width: 0px;
}

.DefaultButton:disabled {
    background-color: var(--blue-hover-color);
    border-color: var(--grey-color);
}

.DefaultButton mjx-math {
    font-size: medium !important;
}

@media (min-width: 450px) {
    .DefaultButton mjx-math {
        font-size: large !important;
    }
}

.DefaultButton mjx-container {
    margin: 0px;
}

.TableOfContents {
    text-align: center;
    font-size: large;
}

/* @media (min-width: 450px) {
    .TableOfContents {
        margin-left: 80px;
    }
} */

.TableOfContentsLink {
    position: relative;
    font-size: large !important;
    margin-top: 40px;
}

.TableOfContentsLink a, .TableOfContentsLink p {
    font-family: var(--scholar-font);
    font-size: medium !important;
    text-align: left;
    transform: translateX(5%);
}

@media (max-width: 450px) {
    .MiniButton {
        padding: 5px;
        font-size: small !important;
    }
    .TextBetweenNavigationsButtons {
        font-size: x-small;
    }
}

.LargeButton {
    padding: 20px;
}

.GreenButton {
    background-color: var(--green-color);
}

.GreenButton:hover {
    background-color: var(--green-hover-color);
}

.GreenButton:focus {
    background-color: var(--green-hover-color);
}

.OrangeButton {
    background-color: var(--orange-color);
}

.OrangeButton:hover {
    background-color: var(--orange-hover-color);
}

.OrangeButton:focus {
    background-color: var(--orange-hover-color);
}

.RedButton {
    background-color: var(--red-color);
}

.RedButton:hover {
    background-color: var(--red-hover-color);
}

.RedButton:focus {
    background-color: var(--red-hover-color);
}

/* Icons */

.Icon {
    text-align: center;
    width: 20px;
    height: 20px;
}

.InlineIcon {
    padding-left: 5px;
}

@media (min-width: 450px) {
    .Icon {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1268px) {
    .Icon {
        width: 35px;
        height: 35px;
    }
}

.CheckIcon {
    color: var(--green-color);
}

.QuestionIcon {
    color: var(--orange-color);
}

.WrongIcon {
    color: var(--red-color);
}

.NavigationIcon {
    color: var(--back-color);
}

/* Page tricks */

.Blur {
    filter: blur(6px);
    /* -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px); */
}

.CenterText {
    margin: auto;
}

.Hidden {
    display: none;
}

.Underline {
    text-decoration: underline;
}

.Clickable {
    cursor: pointer;
}

.Inline {
    display: inline;
}

.AuthorCopyRight {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: medium !important;
    text-align: center !important;
    margin-top: 30px;
}

.Left {
    left: 0px;
}

.Right {
    right: 0px;
}

/* Tables */

.TableContainer {
    margin-bottom: 20px;
    /*     overflow: hidden;
 */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

@media(min-width: 450px) {
    .TableContainer {
        margin-bottom: 40px;
    }
}

.TableContainer td, th {
    vertical-align: middle;
}

table::-webkit-scrollbar {
    width: 0.2em;
}

table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.Error {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}