.App {
    --blue-color: #4365ad;
    --dark-blue-color: rgb(71, 97, 153);
    --dark-color: rgb(47, 49, 53);
    --green-color: #54854d;
    --grey-light-color: rgb(179, 178, 177);
    --grey-lighter-color: rgb(218, 218, 218);
    --grey-lighter-transparent-color: rgba(218, 218, 218, 0.459);
    --grey-light-transparent-color: rgba(138, 137, 137, 0.432);
    --grey-color: rgb(77, 77, 77);
    --grey-dark-color: rgb(77, 78, 78);
    --grey-dark-transparent-color: rgba(77, 78, 78, 0.452);
    --orange-color: #a75a1b;
    --purple-color: rgb(179, 94, 187);
    --red-color: #a34040;
    --yellow-color: rgb(201, 193, 85);
    
    --blue-hover-color: rgb(54, 78, 131);
    --green-hover-color: rgb(60, 100, 55);
    --orange-hover-color: rgb(145, 78, 24);
    --red-hover-color: rgb(105, 21, 21);

    --light-link-color: rgb(86, 86, 158);  ;
    --light-link-color-hover: rgb(86, 86, 158); ;
    --dark-link-color: rgb(108, 108, 196);  ;
    --dark-link-color-hover: rgb(108, 108, 172); ;

    --contrast: 70%;

}

.CopyBook {
    background-size: 20px 20px;
    background-image: linear-gradient(90deg, var(--copybook-color) 1px, transparent 0px), 
                        linear-gradient(var(--copybook-color) 1px, transparent 0px);
}

.Brazil {
    background-color: var(--back-color);
    --links-color: var(--light-link-color);
    --links-color-hover: var(--light-link-color-hover);
    --button-text-color: var(--back-color);
    --mirror-button-text-color: var(--grey-color);

    color: var(--dark-color); 
    --navbar-color: var(--green-color);
    --navbar-hover-color: var(--green-hover-color);
    --back-color: var(--yellow-color);
    --front-color: var(--blue-color);
    --simple-text-color: var(--dark-color);
    --copybook-color: var(--grey-light-transparent-color);

}

.Darcula {
    /* Le seul à avoir un début différent...*/
    background-color: var(--back-color);
    --links-color: var(--dark-link-color);
    --links-color-hover: var(--dark-link-color-hover);
    --button-text-color: var(--grey-light-color);
    --mirror-button-text-color: var(--grey-light-color);

    color: var(--grey-color); 
    --navbar-color: var(--dark-color);
    --navbar-hover-color: var(--grey-light-color);
    --back-color: var(--dark-color);
    --front-color: var(--grey-color);
    --simple-text-color: var(--grey-light-color);
    --copybook-color: var(--grey-dark-transparent-color);
    --contrast: 40%;
}