.App {

    --blue-color: rgb(28, 58, 121);
    --dark-color: rgb(47, 49, 53);
    --green-color: rgb(64, 112, 58);
    --grey-light-color: rgb(179, 178, 177);
    --grey-color: rgb(117, 118, 119);
    --grey-dark-color: rgb(77, 78, 78);
    --orange-color: rgb(167, 90, 27);
    --purple-color: rgb(162, 32, 173);
    --red-color: rgb(136, 26, 26);
    --yellow-color: rgb(201, 193, 85);
    
    --blue-hover-color: rgb(54, 78, 131);
    --green-hover-color: rgb(60, 100, 55);
    --orange-hover-color: rgb(145, 78, 24);
    --red-hover-color: rgb(105, 21, 21);
}

.Algeria {
    background: var(--back-color);
    --links-color: var(--back-color);
    --button-text-color: var(--back-color);

    color: var(--dark-color); 
    --navbar-color: var(--green-color);
    --back-color: var(--grey-light-color);
    --front-color: var(--red-color);
    --simple-text-color: var(--dark-color);
}

.Brazil {
    background: var(--back-color);
    --links-color: var(--back-color);
    --button-text-color: var(--back-color);

    color: var(--dark-color); 
    --navbar-color: var(--green-color);
    --back-color: var(--yellow-color);
    --front-color: var(--blue-color);
    --simple-text-color: var(--dark-color);
}


.Darcula {
    /* Le seul à avoir un début différent...*/
    background: var(--back-color);
    --links-color: var(--purple-color);
    --button-text-color: var(--grey-color);

    color: var(--grey-color); 
    --navbar-color: var(--dark-color);
    --back-color: var(--dark-color);
    --front-color: var(--grey-dark-color);
    --simple-text-color: var(--grey-color);
}

.Germany {
    background: var(--back-color);
    --links-color: var(--back-color);
    --button-text-color: var(--back-color);

    color: var(--grey-color); 
    --navbar-color: var(--dark-color);
    --back-color: var(--yellow-color);
    --front-color: var(--red-color);
    --simple-text-color: var(--dark-color);
}

.France {
    background: var(--back-color);
    --button-text-color: var(--back-color);
    --links-color: var(--back-color);

    color: var(--dark-color); 
    --navbar-color: var(--blue-color);
    --back-color: var(--grey-light-color);
    --front-color: var(--red-color);
    --simple-text-color: var(--dark-color);
}

.Senegal {
    background: var(--back-color);
    --links-color: var(--back-color);
    --button-text-color: var(--back-color);

    color: var(--front-color); 
    --navbar-color: var(--green-color);
    --back-color: var(--yellow-color);
    --front-color: var(--red-color);
    --simple-text-color: var(--dark-color);
}

