.UsualFunctionsButtonContainer {
    display: flex;
}

@media (min-width: 450px) {
    .UsualFunctionsButtonsContainer {
        position: fixed;
        width: 20%;
        align-items: center;
        flex-direction: column;
    }
}

.UsualFunctionsButton {
    margin-top: 0px;
    padding: 0px;
    width: 100px;
    height: 60px;
}

@media (min-width: 450px) {
    .UsualFunctionsButton {
        margin-top: 10px;
    }
}

/* .UsualFunctionsButton mjx-container {
    margin: 0px;
} */

.FunctionAttributes {
    padding: 20px;
    text-align: center;
}



.FunctionAttributesTitle {
    text-decoration: underline;
    color: var(--simple-text-color);
    padding-top: 10px;
    text-align: center;
}

.FunctionAttributesValue {
    position: relative;
    left: 50%;
    transform : translateX(-50%);
    width: fit-content;
}

.UsualFunctionsButton mjx-container {
    display: flex !important; 
    justify-content: center;
}

.Graph {
    /* position: relative; */
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    width: 65% !important;
    height: 80% !important;
}

.GraphTitle {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recharts-wrapper {
    position: absolute;
    left: 25%;
}

@media (min-width: 300px) {
    .Graph {
        font-size: large;
    }
}

@media (min-width: 450px) {
    .Graph {
        width: 65% !important;
        height: 80% !important;
        padding-bottom: 20px;
        font-size: large;
    }
}

@media (min-width: 1268px) {
    .Graph {
        font-size: x-large;
    }
}

