.UsualFunctionsButtonsContainer {
    display: flex;
    flex-wrap: wrap;
} 

@media (min-width: 450px) {
    .UsualFunctionsButtonsContainer {
        position: fixed;
        width: 20%;
/*         align-items: center;
        flex-direction: column; */
        top: 30%;
    }
    .UsualFunctionsButtonsContainer.Left {
        left: 0%;
    }
    .UsualFunctionsButtonsContainer.Right {
        right: 0%;
    }
}

.UsualFunctionsButton {
    margin-top: 0px;
    padding: 0px;
    width: 120px;
    height: 80px;
    flex: 1 1 30%; 

}

@media (min-width: 450px) {
    .UsualFunctionsButton {
        margin-top: 10px;
    }
}

/* .UsualFunctionsButton mjx-container {
    margin: 0px;
} */

.FunctionAttributes {
    padding: 20px;
    text-align: center;
}

.FunctionAttributesTitle {
    text-decoration: underline;
    color: var(--simple-text-color);
    padding-top: 10px;
    text-align: center !important;
}

.FunctionAttributesValue {
    position: relative;
    left: 50%;
    transform : translateX(-50%);
    width: fit-content;
}

.FunctionAttributesValue mjx-math {
    font-size: 25px !important;
}

@media(width < 450px) {
    .FunctionAttributesValue mjx-math {
        font-size: 20px !important;
    }
}


.UsualFunctionsButton mjx-container {
    display: flex !important; 
    justify-content: center;
}

.Graph {
    /* position: relative; */
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    padding-bottom: 20px;

}
/* 
.CoursesContainer .UsualFunctionsContainer .Graph {
    width: 500px !important;
    height: 500px !important;
} */

@media (min-width: 450px) {
    .CoursesContainer .Graph .recharts-wrapper {
        width: 100% !important;
    }
    .CoursesContainer .Graph.Reduced .recharts-wrapper {
        left: 100%;
    }
    .CoursesContainer .UsualFunctionsContainer .Graph .recharts-wrapper {
        left: 5%;
        width: 500px !important;
    }
}


@media (max-width: 450px) {
    .CoursesContainer .Graph .recharts-wrapper {
        left: -5%;
    }

    .CoursesContainer .UsualFunctionsContainer .Graph .recharts-wrapper {
        left: -10%;
        width: 250px !important;
    }
}


@media (max-width: 450px) {
    .CoursesContainer .recharts-wrapper {
        left: -5%;
    }
}

@media (min-width: 1268px) {
    .Graph {
        font-size: x-large;
    }
}

.GraphTitle {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}





