.CoursesContainer {
    position: relative;
    margin-bottom: 20px;
    margin: 0 auto;
    width: fit-content;
}

@media (max-width: 1267px) {
    .CoursesContainer {
        min-width: 80vw;
    }
}

@media (min-width: 1268px) {
    .CoursesContainer {
        max-width:  75vw;
    }
}

.ZoomContainer {
    position: relative;
    width: 100%;
    padding-bottom: 10px;
}

.CoursesContainer img {
    border-radius: 10px;
    filter: contrast(var(--contrast));
}

@media (width < 450px) {
    .CoursesContainer img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.ZoomContainer figcaption {
    margin-top: 20px;
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
}

@media (width < 450px) {
    .ZoomContainer figcaption {
        margin-top: 0px;
        font-size: medium;
    }
}

.ZoomContainer .OnZoom img {
    width: 80%;
    position: relative;
    right: 0;
}

.ZoomContainer img {
    width: 40%;
}

@media (width > 768px) {
    .ZoomContainer img {
        width: 50%;
    }
}

@media (width < 768px) {
    .ZoomContainer img {
        width: 50%;
    }
}

@media (width < 450px) {
    .ZoomContainer img {
        width: 80%;
    }
    .ZoomContainer .OnZoom img {
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.ZoomInIcon, .ZoomOutIcon  {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.ZoomInIcon  {
    transform: translate(-300%, 200%);
}

.ZoomOutIcon  {
    transform: translate(-100%, 250%);
}

.CoursesAnswers {
    color: var(--green-color);
}

.Focus {
    border-color: var(--navbar-color);
}

.Focus, .FocusDefault, .FocusGreen, .FocusRed {
    border-width: 3px;
    border-style: solid;   
    width: fit-content;
    display: table;
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
    margin-bottom: 20px;
}

.Darcula .Focus {
    border-color: var(--links-color);
}

.FocusDefault {
    border-color: var(--blue-color);
}

.FocusGreen {
    border-color: var(--green-color);
}

.FocusRed {
    border-color: var(--red-color);
}

@media (max-width: 450px) {
    .Focus {
        border-width: 2px;
    }
}

.LittleFocus {
    border-width: 1px;
    border-style: dashed;
}

.Ref {
    display: inline-block !important;
}

/* .CoursesContainer hr {
    height: 10px !important;
    background-color: var(--grey-lighter-color);
    border: none !important;
} */

.Aside {
    background-color: var(--grey-lighter-transparent-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CenterTitle {
    margin : 0px auto !important;
    text-decoration: none;
}

/* .ChapterTitle {
    visibility: hidden;
} */


.CoursesContainer .NiceTableContainer {
    width: fit-content;
    overflow-x: auto;
    max-width: 80vw;
    min-width: 40vw;
}

