.CoursesContainer {
    position: relative;
    margin-bottom: 20px;
    width: 80%;
}

/* @media (min-width: 360px) {
   .ProgrammationBasicsContainer {
    } 
} */

.CoursesContainer a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.CoursesContainer p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    white-space: pre-line;
}

.CoursesContainer p, a {
    font-size: small;
}

.CoursesContainer img {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 40px;
}

@media (min-width: 768px) {
   .CoursesContainer p, a {
       font-size: medium;  
    } 
    .CoursesContainer img {
        width: 60%;
    }
}

@media (min-width: 1268px) {
   .CoursesContainer p, a {
        font-size: large;
    } 
    .CoursesContainer {
        width: 60%;
    }
}

.TextureCopyRight {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.CoursesAnswers {
    color: var(--green-color);
}

.Focus{
    border-width: 1px;
    border-style: solid;
    border-color: var(--front-color);
    width: 50%;
}