.CoursesContainer {
    position: relative;
    margin-bottom: 20px;
    width: 80%;
}

.CoursesContainer a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.CoursesContainer p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: justify;
    white-space: pre-line;
}

.CoursesContainer p, a {
    font-size: small;
}

.ZoomContainer {
    position: relative;
}

.CoursesContainer img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ZoomContainer {
    padding-bottom: 10px;
}

.ZoomContainer img {
    width: 100%;
}

.ZoomContainer figcaption {
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

.ZoomContainer .OnZoom img {
    width: 150%;
    position: relative;
    right: 25%;
}

@media (min-width: 768px) {
   .CoursesContainer p, a {
       font-size: medium;  
    } 
    .CoursesContainer img {
        border-radius: 10px;
    }
    .ZoomContainer img {
        width: 60%;
    }
    .ZoomContainer .OnZoom img {
        width: 80%;
        right: 0;
    }
}

@media (min-width: 1268px) {
    .ZoomContainer img {
        width: 40%;
    }
}

.ZoomIcon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-150%, 150%);
    width: 20px;
    height: 20px;
}

@media (min-width: 1268px) {
   .CoursesContainer p, a {
        font-size: large;
    } 
    .CoursesContainer {
        width: 60%;
    }
}

.TextureCopyRight {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.CoursesAnswers {
    color: var(--green-color);
}

.Focus {
    border-width: 1px;
    border-style: solid;
    border-color: var(--front-color);
    width: fit-content;
    margin-bottom: 30px;
    padding: 0 10px;
}