.CoursesContainer {
    position: relative;
    margin-bottom: 20px;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start; */
    /* width: 80%; */
}

@media (min-width: 1268px) {
   .CoursesContainer p, a {
        font-size: large;
    } 
}

.CoursesContainer p {
    text-align: justify;
    margin-left: 100px;
    margin-right: 100px;
} 

@media (width < 450px) {
    .CoursesContainer p {
        text-align: justify;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.CoursesContainer a {
    color : #0d6efd;
}

.ZoomContainer {
    position: relative;
}

.CoursesContainer img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ZoomContainer {
    padding-bottom: 10px;
}

.ZoomContainer img {
    width: 100%;
}

.ZoomContainer figcaption {
    text-decoration: underline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}

.ZoomContainer .OnZoom img {
    width: 115%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 450px) {
    .CoursesContainer img {
        border-radius: 10px;
    }
    .ZoomContainer img {
        width: 40%;
    }
    .ZoomContainer .OnZoom img {
        width: 80%;
        right: 0;
    }
}

@media (min-width: 1268px) {
    .ZoomContainer img {
        width: 60%;
    }
}

.ZoomIcon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-150%, 150%);
    width: 20px;
    height: 20px;
}

@media (min-width: 1268px) {
   .CoursesContainer p, a {
        font-size: large;
    } 
}


.CoursesAnswers {
    color: var(--green-color);
}

.Focus {
    border-width: 2px;
    border-style: solid;
    /* border-color: var(--front-color); */
    border-color: var(--navbar-color);
    width: fit-content;
    display: table;
    margin: 0 auto;
    padding: 0px 5px 0px 5px;
    margin-bottom: 20px;
}

@media (max-width: 450px) {
    .Focus {
        border-width: 1.5px;
    }
    .FocusHuge {
        position: relative;
    }
    .FocusHuge mjx-math {
        font-size: 50% !important;
    }
}

.Ref {
    display: inline-block !important;
}

