.Timer {
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 35px;
    height: 60px;
}

@media (min-width : 450px) {
   .Timer {
        margin-top: 10px;
        height: 30px;
    }
}

.Timer p {
    font: inherit;
    text-align: center !important;
}