.SwitchButton {
    position: relative;
}

.SwitchButton .btn-lg {
    font-size: xx-small !important;
    border-color: var(--grey-light-color);
}

@media (min-width: 360px) {
    .SwitchButton .btn-lg {
        font-size: x-small !important;
    }
}

@media (min-width: 768px) {
    .SwitchButton {
        width: 70%;
    }
    .SwitchButton .btn-lg {
        font-size: small !important;
    }
}

@media (min-width: 1268px) {
    .SwitchButton .btn-lg {
        font-size: medium !important;
    }
}

.SwitchButton .btn-primary {
    background-color: var(--blue-color);
}

.SwitchButton .btn-primary:hover {
    background-color: var(--blue-hover-color);
}

.SwitchButton .btn-warning {
    background-color: var(--orange-color);
}

.SwitchButton .btn-warning:hover {
    background-color: var(--orange-hover-color);
}

.SwitchButton .btn-success {
    background-color: var(--green-color);
}

.SwitchButton .btn-success:hover {
    background-color: var(--green-hover-color);
}

.SwitchButton .btn-danger {
    background-color: var(--green-hover-color);
}

.SwitchButton .switch-handle {
    background-color: var(--grey-light-color);
}
