.PdfTitle {
    padding-bottom: 20px;
}

.Opacity {
    opacity: 0.5;
}

.Hidden {
    opacity: 0;
}

.SwitchButton {
    position: relative;
}

.SwitchButton .btn-lg {
    font-size: xx-small !important;
    height: 50px;
}

@media (min-width: 360px) {
    .SwitchButton {
        padding: 10px;
    }
    .SwitchButton .btn-lg {
        font-size: small !important;
    }
}

@media (min-width: 768px) {
    .SwitchButton {
        padding: 20px;
    }
    .SwitchButton .btn-lg {
        font-size: medium !important;
    }
}

@media (min-width: 1268px) {
    .SwitchButton {
        padding: 30px;
    }
    .SwitchButton .btn-lg {
        font-size: large !important;
    }
}

.SwitchButton .btn-primary {
    background-color: var(--blue-color);
}

.SwitchButton .btn-success {
    background-color: var(--green-color);
}

