.SwitchButton {
    position: relative;
}

.SwitchButton .btn-lg {
    border-color: var(--grey-light-color);
    font-size: xx-small !important;
}

@media (min-width: 450px) {
    .SwitchButton .btn-lg {
        font-size: x-small !important;
    }
}

@media (min-width: 768px) {
    .SwitchButton .btn-lg {
        font-size: small !important;
    }
    .SwitchButton {
        width: 60%;
    }
}

@media (min-width: 1268px) {
    .SwitchButton .btn-lg {
        font-size: medium !important;
    }
}

.SwitchButton .btn-primary {
    background-color: var(--blue-color);
}

.SwitchButton .btn-primary:hover {
    background-color: var(--blue-hover-color);
}

.SwitchButton .btn-warning {
    background-color: var(--orange-color);
}

.SwitchButton .btn-warning:hover {
    background-color: var(--orange-hover-color);
}

.SwitchButton .btn-success {
    background-color: var(--green-color);
}

.SwitchButton .btn-success:hover {
    background-color: var(--green-hover-color);
}

.SwitchButton .btn-danger {
    background-color: var(--green-hover-color);
}

.SwitchButton .switch-handle {
    background-color: var(--grey-light-color);
}

.UnPlayModeButton, .PlayModeButton {
    position: absolute;
    right: 0px;
    margin-top: 10px;
    background-color: var(--green-color);
}

.UnPlayModeButton:hover, .UnPlayModeButton:focus, .PlayModeButton:hover, .PlayModeButton:focus {
    background-color: var(--green-hover-color);
}

.UnPlayModeButton {
    top: 0;
}

.PlayModeButton {
    top: var(--customheader-height);
}

.PagesMobile {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}