.App {
  text-align: center;
}

.Brazil {
  background: var(--brazil-back-color);
  --navbar-color : var(--brazil-navbar-color);
  background-size: auto;
  --back-color: var(--brazil-back-color);
  color: var(--brazil-front-color);
  --front-color: var(--brazil-front-color);
  --title-color: var(--brazil-title-color);
  --check-color: var(--brazil-check-color);
  --wrong-color: var(--brazil-wrong-color);
  --question-color: var(--brazil-question-color);
  --button-text-color: var(--brazil-button-text-color);
  --button-color: var(--brazil-button-color);
  --button-hover-color: var(--brazil-button-hover-color);
  --button-2-color: var(--brazil-button-2-color);
  --button-2-hover-color: var(--brazil-button-2-hover-color);
  --question-code-color: var(--brazil-question-code-color);
  --reponses-code-color: var(--brazil-reponses-code-color);
  --links-color: var(--brazil-links-color);
}