.App {
  text-align: center;
  --aladdin-font:'aladdin', Fallback, sans-serif;
  --arabic-font: 'arabic', Fallback, sans-serif;
  --black-chancery-font:'black-chancery', Fallback, sans-serif;
  --celtic-font:'celtic', Fallback, sans-serif;
  --chinese-font:'chinese', Fallback, sans-serif;
  --dragons-font:'dragons', Fallback, sans-serif;
  --gothic-font:'gothic', Fallback, sans-serif;
  --indian-font:'indian', Fallback, sans-serif;
  --western-font:'western', Fallback, sans-serif;
  --x-mas-font:'x-mas', Fallback, sans-serif;

  background-size: auto;

  --blue-color: rgb(35, 73, 155);
  --dark-color: rgb(47, 49, 53);
  --green-color: rgb(64, 112, 58);
  --grey-light-color: rgb(179, 178, 177);
  --grey-color: rgb(117, 118, 119);
  --grey-dark-color: rgb(77, 78, 78);
  --orange-color: rgb(167, 90, 27);
  --purple-color: rgb(162, 32, 173);
  --red-color: rgb(177, 34, 34);
  --yellow-color: rgb(201, 193, 85);

  --blue-hover-color: rgb(54, 78, 131);
  --green-hover-color: rgb(60, 100, 55);
  --orange-hover-color: rgb(145, 78, 24);
  --red-hover-color: rgb(182, 45, 45);
}

.Algeria {
  background: var(--back-color);
  color: var(--front-color); 
  --navbar-color: var(--green-color);
  --back-color: var(--grey-light-color);
  --front-color: var(--red-color);
  --button-text-color: var(--back-color);
  --simple-text-color: var(--dark-color);
  --links-color: var(--back-color);
}

.Brazil {
  background: var(--back-color);
  color: var(--front-color);  
  /* --navbar-color:  #2e3235; */
  --navbar-color: var(--green-color);
  --back-color: var(--yellow-color);
  --front-color: var(--blue-color);
  --button-text-color: var(--back-color);
  --simple-text-color: var(--dark-color);
  --links-color: var(--back-color);
}

.Darcula {
  background: var(--back-color);
  color: var(--grey-color); 
  --navbar-color: var(--dark-color);
  --back-color: var(--dark-color);
  --front-color: var(--grey-dark-color);
  --button-text-color: var(--grey-color);
  --simple-text-color: var(--grey-color);
  --links-color: var(--purple-color);
}

.France {
  background: var(--back-color);
  color: var(--dark-color); 
  --navbar-color: var(--blue-color);
  --back-color: var(--grey-light-color);
  --front-color: var(--red-color);
  --button-text-color: var(--back-color);
  --simple-text-color: var(--dark-color);
  --links-color: var(--back-color);
}

.Senegal {
  background: var(--back-color);
  color: var(--front-color); 
  --navbar-color: var(--green-color);
  --back-color: var(--yellow-color);
  --front-color: var(--red-color);
  --button-text-color: var(--back-color);
  --simple-text-color: var(--dark-color);
  --links-color: var(--back-color);
}

#theme-dropdown-item {
  color: black;
}

.Aladdin {
  font-family: var(--aladdin-font);
}
.Arabic {
  font-family: var(--arabic-font);
}
.BlackChancery {
  font-family: var(--black-chancery-font);
}
.Celtic {
  font-family: var(--celtic-font);
}
.Chinese {
  font-family: var(--chinese-font);
}
.Dragons {
  font-family: var(--dragons-font);
}
.Gothic {
  font-family: var(--gothic-font);
}
.Indian {
  font-family: var(--indian-font);
}
.Western {
  font-family: var(--western-font);
}
.Xmas {
  font-family: var(--x-mas-font);
}

@font-face {
  font-family: 'aladdin';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 200%;
  src: local('Aladdin'), url('./fonts/aladdin.otf') format('opentype');
}

@font-face {
  font-family: 'arabic';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 300%;
  src: local('Arabic'), url('./fonts/arabic.ttf') format('truetype');
}

@font-face {
  font-family: 'black-chancery';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 150%;
  src: local('Black Chancery'), url('./fonts/black-chancery.ttf') format('truetype');
}

@font-face {
  font-family: 'celtic';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 150%;
  src: local('Celtic'), url('./fonts/celtic.ttf') format('truetype');
}

@font-face {
  font-family: 'chinese';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 300%;
  src: local('Chinese'), url('./fonts/chinese.ttf') format('truetype');
}

@font-face {
  font-family: 'dragons';
  font-style: normal;
  font-weight: normal; 
  src: local('Dragons'), url('./fonts/dragons.ttf') format('truetype');
}

@font-face {
  font-family: 'gothic';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 250%;
  src: local('Gothic'), url('./fonts/gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'indian';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 250%;
  src: local('Indian'), url('./fonts/indian.ttf') format('truetype');
}

@font-face {
  font-family: 'western';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 200%;
  src: local('Western'), url('./fonts/western.ttf') format('truetype');
}

@font-face {
  font-family: 'x-mas';
  font-style: normal;
  font-weight: normal; 
  size-adjust: 200%;
  src: local('Happy Christmas'), url('./fonts/x-mas.ttf') format('truetype');
}

