body { 
  position:absolute; 
  top:0; bottom:0; right:0; left:0; 
  --choco-font-family:'choco', Fallback, sans-serif;

  --brazil-navbar-color:  #2e3235;
  --brazil-back-color:  rgb(201, 193, 85);
  --brazil-front-color:  #516ece;
  --brazil-title-color: rgb(78, 139, 70);
  --brazil-check-color: rgb(64, 112, 58);
  --brazil-wrong-color: rgb(199, 37, 37);
  --brazil-question-color: rgb(216, 117, 36);
  --brazil-button-text-color: var(--brazil-back-color);
  --brazil-button-color: var(--brazil-title-color);
  --brazil-button-hover-color:var(--brazil-check-color);
  --brazil-button-2-color:  #516ece;
  --brazil-button-2-hover-color: rgb(63, 73, 158);
  --brazil-question-code-color:rgb(179, 175, 175);
  --brazil-reponses-code-color: #2a418b;
  --brazil-links-color: var(--brazil-back-color);


  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'choco';
  font-style: normal;
  font-weight: normal; 
  src: local('Myriad Pro Regular'), url('./fonts/choco.otf') format('truetype');
}