.CustomNav {
    background-color : var(--navbar-color);
  /*   margin-left: auto;
    margin-right: auto; */
}

.CustomNav .navbar-brand {
  margin-right: 0;
  color: var(--links-color);
  padding-left: 15px;
}

.CustomNav button .nav-toggler .collapsed {
  margin-right: 40px !important;
}

.CustomNav .nav-link {
  padding-left: 40px !important;
  font-size: small !important;
}

.CustomNav .navbar-collapse {
  background-color: var(--navbar-color);
  margin-top: 5px;
}

.CustomNav .dropdown-menu {
  background-color : var(--navbar-color);
  border: 0px;
}

.CustomNav .dropdown-toggle {
  padding: 10px;  
}

.CustomNav .dropdown-item {
  color: var(--links-color) ;
  padding: 10px;
  font-size: xx-small;
  width: 50%;
  display: inline-block;
  text-align: center;
}

.CustomNav .dropdown-item:hover {
  background-color : var(--navbar-hover-color);
}

.CustomNav .dropdown-item:focus {
  background-color : var(--navbar-hover-color);
}

@media (min-width: 768px) {
  .CustomNav .dropdown-item {
    font-size: small;
    width: 100%;
    display: block;
  }
}

@media (min-width: 1268px) {
  .CustomNav .dropdown-menu {
    left:50%;
    transform: translateX(-40%);
  }
}